<div class="container-fluid mb-3">
    <div class="row justify-content-center pb-6">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="login">
                        <img class="profile-img"
                            src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                            alt="">
                        <form class="form-signin w-75" action="" method="">
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>И-мейл</mat-label>
                                    <input matInput placeholder="Въведете своя и-мейл">
                                    <mat-icon matSuffix>email</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>Въведете своята парола</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'">
                                    <button mat-icon-button matSuffix (click)="toggleHide($event)"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <div class="form-check pb-2">
                                    <mat-checkbox color="primary">Запомни ме?</mat-checkbox>
                                </div>
                            </div>

                            <div class="row m-auto w-50">
                                <button mat-flat-button color="primary">Влез</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>