<section class="vh-100 bg-image"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Вход към акаунт</h2>

                            <form>

                                <div class="form-outline mb-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>И-мейл</mat-label>
                                        <input matInput placeholder="Въведете своя и-мейл" />
                                        <mat-icon matSuffix>email</mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="form-outline mb-2">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Въведете своята парола</mat-label>
                                        <input matInput [type]="hide ? 'password' : 'text'" />
                                        <button mat-icon-button matSuffix (click)="toggleHide($event)"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>

                                <div class="form-check d-flex justify-content-center mb-3">
                                    <mat-checkbox color="primary">Запомни ме?</mat-checkbox>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button class="px-5" mat-flat-button color="primary">Влез</button>
                                </div>

                                <p class="text-center text-muted mt-4 mb-0">Забравена парола? <a href="#!"
                                        class="fw-bold text-body"><u>Влезте тук</u></a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>