<h1 mat-dialog-title>Запазване на час за {{ this.data.start }}</h1>
<div mat-dialog-content>
  <p>Изберете часове и продължителност</p>
  <form action="" [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Начален час</mat-label>
    <mat-select formControlName="hours">
      <mat-option></mat-option>
      <mat-option [value]="data.hours" *ngFor="let data of data.eventData">{{ data.hours }}</mat-option>
    </mat-select>
    <mat-error *ngIf="validateForm('hours')">{{ getErrorMessage('required') }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Краен час</mat-label>
    <mat-select formControlName="endHour">
      <mat-option></mat-option>
      <mat-option [value]="data.hours" *ngFor="let data of data.eventData">{{ data.hours }}</mat-option>
    </mat-select>
    <mat-error *ngIf="validateForm('endHour')">{{ getErrorMessage('required') }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Продължителност</mat-label>
    <mat-select formControlName="intervals">
      <mat-option></mat-option>
      <mat-option [value]="data.intervals" *ngFor="let data of data.eventData">{{ data.intervals }}</mat-option>
    </mat-select>
    <mat-error *ngIf="validateForm('intervals')">{{ getErrorMessage('required') }}</mat-error>
  </mat-form-field>
</form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Затвори</button>
  <button mat-button [mat-dialog-close]="true" (click)="close()" cdkFocusInitial>Създаване</button>
</div>
