.hero-header {
    background: url(../../../assets/img/homepage.jpg) top right no-repeat;
    background-size: cover;
    height: 95vh;
}

div h5.d-inline-block {
    border-color: rgba(256, 256, 256, .3) !important;
}