<h1 mat-dialog-title>
  Запазване на час за {{ this.dateTimeArgs[0] }} год. от
  {{ this.dateTimeArgs[1] }} часа
</h1>
<div mat-dialog-content>
  <form method="post" [formGroup]="form">
    <div class="row mb-3 mt-2">
      <div class="form-outline col">
        <app-form-field
          [control]="getControl('start')"
          label="Начало"
          placeholder="Начална дата и час"
          materialSuffix="calendar_month"
        ></app-form-field>
      </div>

      <div class="form-outline col">
        <app-form-field
          [control]="getControl('end')"
          label="Край"
          placeholder="Крайна дата и час"
          materialSuffix="calendar_month"
        ></app-form-field>
      </div>
    </div>
    <app-parent-form
      [email]="getControl('email')"
      [phoneNumber]="getControl('phoneNumber')"
      [firstName]="getControl('parentFirstName')"
      [lastName]="getControl('parentLastName')"
    ></app-parent-form>
    <ng-container
      *ngIf="currentUser && patients && patients.length > 0; else child"
    >
      <div class="form-outline mb-2">
        <mat-form-field appearance="fill">
          <mat-label>Изберете пациент</mat-label>
          <mat-select formControlName="patientId'">
            <mat-option *ngFor="let patient of patients" [value]="patient.id">
              {{ patient.firstName }} {{ patient.lastName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
    <div class="form-outline mb-2">
      <app-appointment-cause-select
        [appointmentCauses]="appointmentCauses"
        [control]="getControl('appointmentCauseId')"
      ></app-appointment-cause-select>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <app-button color="warn" name="Затвори" mat-dialog-close></app-button>
  <app-button
    color="primary"
    name="Запазване"
    (click)="close()"
    [disabled]="!this.form.valid"
  ></app-button>
</div>

<ng-template #child>
  <div class="row mb-3">
    <div class="form-outline col">
      <app-form-field
        [control]="getControl('patientFirstName')"
        label="Име на дете"
        placeholder="Име на дете"
        materialSuffix="account_circle"
      ></app-form-field>
    </div>

    <div class="form-outline col">
      <app-form-field
        [control]="getControl('patientLastName')"
        label="Фамилия на дете"
        placeholder="Фамилия на дете"
        materialSuffix="account_circle"
      ></app-form-field>
    </div>
  </div>
</ng-template>
