<div class="col-lg-12 mx-2 my-2">

    <div class="about_text_highlight">
        <h1>{{title}}</h1>
    </div>
    <p>
        Тази политика за поверителност ще ви помогне да разберете как <strong>{{systemName}}</strong> използва и
        защитава
        данните, които ни предоставяте при посещение на сайта.
    </p>
    <p>
        Запазваме си правото да променяме тази политика по всяко време, за което ще бъдете информирани своевременно. Ако
        желаете да сте постоянно усведомени с най-новите промени, съветваме ви да посещавате често настоящата страница.
    </p>
    <div class="about_text_highlight">
        <h3>
            Какви данни събираме:
        </h3>
    </div>

    <p>
        При посещението ви на сайта може да съберем следните данни:
    </p>
    <ul>
        <li>
            Вашият IP адрес.
        </li>
        <li>
            Ваша информация за контакт и и-мейл адрес.
        </li>
        <li>
            Друга информация, като интереси и предпочитания.
        </li>
        <li>
            Профил на данните за вашата употреба на нашия сайт.
        </li>
    </ul>
    <div class="about_text_highlight">
        <h3>
            Защо събираме тези данни
        </h3>
    </div>

    <p>
        Събираме тези данни поради настоящите причини:
    </p>
    <ul>
        <li>
            Да разберем от какво се нуждаете.
        </li>
        <li>
            Да подобрим нашите услуги.
        </li>
        <li>
            Да ви изпращаме промоционални и-мейли с информация, която може да ви интересува.
        </li>
        <li>
            Да се свържем с вас за попълване на анкети.
        </li>
        <li>
            Да подобрим сайта си, за да отговаря на вашите нужди и изисквания.
        </li>
    </ul>
    <div class="about_text_highlight">
        <h3>
            Пазене и съхранение на данни
        </h3>
    </div>

    <p>
        <strong>{{systemName}}</strong> пази вашите данни и ги съхранява конфиденциално. <strong>{{systemName}}</strong>
        прави
        всичко по силите си за предотвратяване на кражба на данни, нерегламентиран достъп и разпространение, чрез
        използване на най-новите технологии за предпазване на данните и информацията, която събираме.
    </p>
    <div class="about_text_highlight">
        <h3>
            Нашата политика относно "Бисквитките"
        </h3>
    </div>

    <p>
        Когато се съгласите на нашия сайт да използва бисквитки, вие се съгласявате да използваме данните, които
        събираме относно вашето поведение в сайта ни.
    </p>
    <p>
        Данните, които събираме чрез бисквитките служи за подобрение на нашия сайт да отговаря на вашите нужди и
        изисквания. След използването на тези данни за статистически анализ, те се изтриват от нашата система.
    </p>
    <p>
        Моля да разберете, че тези бисквитки по никакъв начин не ни позволява да имаме достъп и контрол над вашето
        устройство по никакъв начин. Те единствено се използват за наблюдение на кои страници използвате най-често и кои
        не, така, че да можем да предоставим по-добро изживяване за вас.
    </p>
    <p>
        Ако желаете да изключите бисквитките, вие мога да направите това през настройките на вашия интернет браузър.
    </p>
    <div class="about_text_highlight">
        <h3>
            Ограничаване на събирането на личните ви данни
        </h3>
    </div>

    <p>
        В някой момент може да пожелаете да ограничите събирането на личните ви данни. Може да го направите, следвайки
        тези стъпки:
    </p>
    <ul>
        <li>
            При попълване на вашите данни, уверете се, че сте проверили дали има кутийка, която може да не попълване,
            ако не желаете да предоставите личната си информация.
        </li>
        <li>
            Ако вече сте се съгласили да си предоставите личната информация, чувствайте се свободни да се свържете с нас
            по всяко време чрез и-мейл.
        </li>
    </ul>
    <p>
        <strong>{{systemName}}</strong> няма да отдава под наем, да продава или разпространява вашата информация на
        трети
        страни, ако не получим изричното ви разрешение за това. Може да направим това ако органите на закона го изискват
        от нас.
    </p>
</div>