<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Търсене на пациент</mat-label>
  <input
    type="text"
    matInput
    [formControl]="control"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let patient of patients$ | async" [value]="patient" (onSelectionChange)="onSelected(patient)">
      {{ patient.firstName }} {{ patient.lastName }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
