<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Medical Packages</h5>
            <h1 class="display-4">Awesome Medical Programs</h1>
        </div>
        <div class="owl-carousel price-carousel position-relative" style="padding: 0 45px 45px 45px;">
            <div class="bg-light rounded text-center" *ngFor="let service of services">
                <div class="position-relative">
                    <img class="img-fluid rounded-top" src="../../assets/img/price-2.jpg" alt="">
                    <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center"
                        style="background: rgba(29, 42, 77, .8);">
                        <h3 class="text-white">{{service.name}}</h3>
                        <h1 class="display-4 text-white mb-0">
                            {{service.price}}<small class="align-bottom fw-normal"
                                style="font-size: 16px; line-height: 40px;">
                                лв.</small>
                        </h1>
                    </div>
                </div>
                <div class="text-center py-5">
                    <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">Запази сега</a>
                </div>
            </div>
        </div>
    </div>
</div>