<section class="vh-100 bg-image"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-3">Регистрация</h2>

                            <form method="post" [formGroup]="form" (ngSubmit)="submitRegisterForm()">
                                <div class="row mb-3">
                                    <div class="form-outline col">
                                        <app-email formControlName="email" ngDefaultControl></app-email>
                                    </div>

                                    <div class="form-outline col">
                                        <app-phone-input formControlName="phoneNumber" ngDefaultControl></app-phone-input>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-outline col">
                                        <app-form-field formControlName="firstName" ngDefaultControl
                                        label="Име"
                                        placeholder="Въведете своето име"
                                        materialSuffix="account_circle"></app-form-field>
                                    </div>

                                    <div class="form-outline col">
                                        <app-form-field formControlName="middleName" ngDefaultControl
                                        label="Презиме"
                                        placeholder="Въведете своето презиме"
                                        materialSuffix="account_circle"></app-form-field>
                                    </div>
                                </div>
                                <div class="form-outline mb-2">
                                    <app-form-field formControlName="lastName" ngDefaultControl
                                        label="Фамилия"
                                        placeholder="Въведете своята фамилия"
                                        materialSuffix="account_circle"></app-form-field>
                                </div>

                                <div class="row mb-3">
                                    <div class="form-outline col" formGroupName="passwords">
                                        <app-password formControlName="password" ngDefaultControl
                                        [validators]="passwordValidators"
                                        label="Въведете парола"></app-password>
                                    </div>

                                    <div class="form-outline col" formGroupName="passwords">
                                        <app-password formControlName="repeatPassword" ngDefaultControl
                                        [validators]="repeatPasswordValidators"
                                        label="Повторете паролата"></app-password>
                                    </div>
                                </div>
                                <div class="form-check d-flex justify-content-center mb-5">
                                    <mat-checkbox color="primary" formControlName="terms">Съгласявам се с всички <a
                                            routerLink="/privacy" class="text-body"><u>условия за
                                                ползване</u></a>
                                        <mat-error
                                            *ngIf="validateForm('terms')">{{getErrorMessage('terms')}}</mat-error>

                                    </mat-checkbox>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button class="px-5" mat-flat-button color="primary"
                                        [disabled]="form.valid ? false : true">
                                        <mat-icon *ngIf="loading"><mat-spinner color="accent" diameter="20">
                                            </mat-spinner></mat-icon>Регистрация</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Вече имате акаунт? <a
                                        routerLink="/auth/login" class="fw-bold text-body"><u>Влезте тук</u></a></p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>