<mat-form-field appearance="outline">
    <mat-label>Телефон</mat-label>
    <input matInput placeholder="Въведете своя телефон"
        formControlName="phoneNumber" [value]="phoneNumber" />
    <mat-icon matSuffix>phone</mat-icon>
    <mat-error
        *ngIf="validateForm('phoneNumber') && checkForMinLength('phoneNumber')">{{getErrorMessage('minLength', phoneMinLength)}}
    </mat-error>
    <mat-error
        *ngIf="validateForm('phoneNumber') && checkForMaxLength('phoneNumber')">{{getErrorMessage('maxLength', phoneMaxLength)}}
    </mat-error>
</mat-form-field>