<h1 mat-dialog-title>Запазване на час за {{ this.dateArgs[0] }} год. от {{ this.dateArgs[1] }} часа</h1>
<div mat-dialog-content>
  <p>Изберете часове и продължителност</p>
  <ng-container *ngIf="isLoggedIn; then loggedIn; else notLoggedIn"></ng-container>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Затвори</button>
  <button mat-button [mat-dialog-close]="true" (click)="close()" cdkFocusInitial>Създаване</button>
</div>

<ng-template #loggedIn>
    <form action="post" [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Начален час</mat-label>
            <input matInput placeholder="Начален час" formControlName="start" [disabled]="true" />
            <mat-icon matSuffix>calendar_month</mat-icon>
            <mat-error
                *ngIf="validateForm('start')">{{getErrorMessage('required')}}</mat-error>
        </mat-form-field>
        <div class="row mb-3">
            <div class="form-outline col">
                <app-email [emailControl]="emailControl"></app-email>
            </div>
    
            <div class="form-outline col">
                <app-phone-input [phoneNumberControl]="phoneNumber"></app-phone-input>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #notLoggedIn>
  <form method="post" [formGroup]="form">
    <div class="row mb-3">
        <div class="form-outline col">
            <app-email [emailControl]="emailControl"></app-email>
        </div>

        <div class="form-outline col">
            <app-phone-input [phoneNumberControl]="phoneNumber"></app-phone-input>
        </div>
    </div>
    <div class="row mb-3">
        <div class="form-outline col">
            <app-form-field [control]="firstName"
            label="Име"
            placeholder="Въведете своето име"
            materialSuffix="account_circle"></app-form-field>
        </div>

        <div class="form-outline col">
            <app-form-field [control]="middleName"
            label="Презиме"
            placeholder="Въведете своето презиме"
            materialSuffix="account_circle"></app-form-field>
        </div>
    </div>
    <div class="form-outline mb-2">
        <app-form-field [control]="lastName"
            label="Фамилия"
            placeholder="Въведете своята фамилия"
            materialSuffix="account_circle"></app-form-field>
    </div>
</form>
</ng-template>