<mat-form-field appearance="outline">
    <mat-label>Въведете парола</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'"
        [formControl]="formControl" />
    <button mat-icon-button matSuffix (click)="toggleHide($event)"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error
        *ngIf="validateForm() && checkForMinLength()">
        {{getErrorMessage('minLength', fieldMinLength)}}
    </mat-error>
    <mat-error *ngIf="checkPasswordsMatch()">
        {{getErrorMessage('passwordsMissmatch')}}
    </mat-error>
</mat-form-field>